*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.wrapper {
  width: 960px;
  margin: 0 auto;

}

.img__logo {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
}

.nav {
  margin: 5px 0;

}

.nav__list {
  display: flex;
  background-color: cornflowerblue;
  justify-content: center;
  
}

.nav__item {
  list-style: none;
  line-height: 50px;

}

.item__link {
  display: block;
  padding: 0 20px;
  color:white;
  text-decoration: none;
  font-variant: small-caps;

}

.item__link:hover {
  background-color: darkseagreen;

}

.container {
  display: flex;

}

.container__left {
  width: 75%;
  margin-right: 10px;

}

.container__right{
  width: calc(25% - 10px);
  border: 1px solid gray;
  height: 120px;
} 

.container__left-top {
  width: 100%;
  background-color: cornflowerblue;
  margin-bottom: 5px;
  line-height: 40px;
  font-variant: small-caps;
  color: white;
  
}

.container__left-bottom {
  width: 100%;
}

.item__text1 {
  margin: 0 15px;
 
}

.box {
  display: flex;
  margin: 0 -5px;
  
}

.box__item {
  text-align: center;
  margin: 0 5px;
  width: calc(33.33% - 10px);
  border: 1px solid gray;
  /* justify-content: center; */
}

.image__brand{
  width:100%;

}

.item__text {
  color:royalblue;
  margin: 10px;

}

.btn {
  margin: 20px 0;

}

.price__link {
  background-color: lightgreen;
  padding: 8px 12px;
  color:black;
  text-decoration: none;
  border-radius: 10px;
}

.price{
  font-size: 15px;
  font-weight: bold;
}

.price__link:hover {
  background: lightslategray;
  color:lightyellow;
}

.container__right-iput {
  margin: 10px 5px 20px 10px;

}

.iput {
  width: 100%;
  margin: 5px 0;
  padding: 8px 5px;
}

button {
  padding: 5px 15px;
}

.footer{
  margin-top: 5px;
  background-color: royalblue;
  line-height: 50px;
  text-align: center;
  color:white;
}





