* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  background-color: #ece5e5;
}

img {
  max-width: 100%;
}

.wrapper {
  width: 850px;
  margin: 0 auto;
  background-color: #fff;

}

.header {
  background-color: #eaaf46;
}

.header img {
  margin: 15px 30px;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.text__top {
  margin-top: 22px;
  margin-bottom: 25px;
  text-align: center;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  color: #eaaf46;
  font-size: 58px;
  letter-spacing: 6.5px;

}

.text__top p {
  font-family: Arial;
  font-weight: bold;
}

.item__text1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 22px;
  letter-spacing: 1.5px;
  margin-top: 40px;

}

/* item */
.item {
  display: flex;
  margin-top: 20px;

}

.item__item {
  margin-right: 17px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 3px;
  
}


.item__text {
  text-align: left;
  font-family: 'Bebas Neue', cursive;
  font-size: 18px;
  letter-spacing: 1.5px;
}


.item__text-desc {
  text-align: justify;
  margin: 12px 0;
  font-size: 14px;
  font-family: Arial;
}


.item__link {
  background-color: #eaaf46;
  font-weight: bold;
  padding: 3px 32px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-family: 'Bebas Neue', cursive;


}

.item__link:hover {
  background-color: steelblue;
}

.item:nth-child(2) {
  flex-direction: row-reverse;
}

.img__bg {
  margin-bottom: -3px;

}

.header .container{
  margin-top: 30px;
  background-color: #eaaf46;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.content {
  margin-top: 28px;
  font-size: 14px;
  margin-bottom: 20px;

}

