*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 980px;
  margin: 0 auto;
}
.logo{
  width: 100%;
  text-align: center;
  background-color: #272f54;
}
.logo img{
  margin: 10px auto;
}

.nav{
  width: 100%;
  height: 50px;
  background-color: #ad4601;
  color:#fff;
  text-align: center;
}
.nav ul li{
  display: inline-block;
  padding: 0 10px;
}
.nav ul li a{
  color:#fff;
  text-decoration: none;
  line-height: 50px;
}
.nav ul li a:hover{
  text-decoration: underline;
}
.banner{
  margin: 5px 0;
  width: 100%;
}
.banner img{
  width: 100%;
}

.content{
  width: 100%;
  margin-bottom: 20px;
}
.left{
  margin-right: 20px;
  width: calc(25% - 20px);
  float:left;
  /* border: 1px solid gray; */
}
.left ul li{
display: block;
margin-bottom:20px;
border: 1px solid black;
padding: 15px;

}
.left ul li a{
  color:brown;
  text-decoration: none;
}
.left ul li:hover{
  background-color: cadetblue;
  
}


.clearfix::after{
  content:" ";
  display: table;
  clear: both;
}
.right{
  width: 75%;
  border: 1px solid black;
  float:right;
}

.b{
  margin: 0 10px;
  width: calc(100% - 20px);
}
.box{
  margin: 0 -10px;
}
.box1{
  margin: 10px;
  width: calc(50% - 20px);
  float:left;
  border: 1px solid black;
}

.product{
  text-align: center;
}
.product img{
  width: 95%;
  margin: 10px;
  height: 130px;
}
.product h3 a{
  text-decoration: none;
  color:#272f54;
}

.product h3 a:hover{
  text-decoration: underline;
  font-weight: bold;
}
.product p{
  margin:10px;
}
.footer{
  line-height: 70px;
  text-align: center;
  clear: both;
  background-color: #272f54;
  color:#fff;
}



